<mat-drawer-container>
  <mat-drawer> </mat-drawer>

  <div class="wrapper">
    <mat-tab-group
      #tabGroup
      dynamicHeight
      (selectedTabChange)="changeTab($event)"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>category</mat-icon>&nbsp;Example
        </ng-template>

        <app-example [tabGroup]="tabGroup"></app-example>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>description</mat-icon>&nbsp;Documentation
        </ng-template>

        <app-documentation></app-documentation>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-drawer-container>
